

.about-p{
    font-style: italic;
}

.about-hr{
    width: 80%;
    margin-left: 0;
}

.content-about{
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-img img{
    width: 95%;
    height: 90%;
    border: 1px solid lightgray;
    margin-top: 8%;
    margin-left: 2.5%;
}
.about-text{
    margin-left: 2.5%;
    width: 95%;
}

@media all and (max-width:768px){
    .content-about{
        grid-template-columns: 90%;
       justify-content: center;
       margin-top:-5%;
    }
    .about-text{
        margin-top: -5%;
    }
   

}